@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
$font: 'Lato', sans-serif;
$primaryColor:#000000;
$secondaryColor:#FFFFFF;
$backgroundColor:#FFF9F0;
$contactColor:#19341E;
