@import './navbar';
@import './var';

body{
    background-color: $contactColor;
    color: $secondaryColor;
    font-family: $font;
    overflow: hidden;
}
.offcanvas-start{
    background-color: $contactColor;
}
.nav-link{
    color: $secondaryColor;
}
.btn-close{
    background-color: $secondaryColor;
}
.navbar-toggler-icon{
    background-image: url('/assets/img/menu\ \(1\).png');
}
#submitBtn{
    background-color: transparent;
    color: $secondaryColor;
    border: 2px solid $secondaryColor;
    border-radius: 10px;
    padding: 3px 15px 5px 15px;
    &:hover{
        background-color: $secondaryColor;
        color: $contactColor;
    }
}
.form-control{
    border: none;
    border-radius: 0;
    line-height: 1.7rem;
}
.form-control:focus{
    box-shadow: $primaryColor 0px 0px 0px 4px;
    border: none;
}

#contactBImage{
    width: 200px;
    @media (max-width:992px){
        display: none;
    }
}
