@import './navbar';
@import './footer';
@import './var';

body{
    background-color: $backgroundColor;
    color: $primaryColor;
    font-family: $font;
}
.introImg, .plantsImg, .plantersImg{
    width: 400px;
    @media(max-width:1400px){
        width: 300px;
    }
    @media(max-width:992px){
        width: 200px;
    }
}
.introImg{
    display: inline-block;
}
.plantsLink, .plantersLink{
    font-size: 1.3rem;
    text-decoration: none;
    color: $primaryColor;
    border: 3px solid $primaryColor;
    border-radius: 20px;
    &:hover{
        color: $secondaryColor;
        border-color: $thirdColor;
        background-color: $thirdColor;
        transition:300ms ease-in-out;
    }
    @media (max-width:992px){
        font-size: 1rem;
    }
}
.greenSpan{
    color: $thirdColor;
}