@import './navbar';
@import './footer';
@import './var';

body{
    background-color: $backgroundColor;
    color: $primaryColor;
    font-family: $font;
}
.showcase img{
    max-width: 280px;
}
.showcase p{
    font-weight:300 ;
}