@import './navbar';
@import './footer';
@import './var';

body{
    background-color: $backgroundColor;
    color: $primaryColor;
    font-family: $font;
    overflow-x:hidden;
}
.showcase{
    p{
    font-weight: lighter ;
    margin:0;
    }
}
.item{
    max-width: 440px;
    background-size: cover;
}
.plus, .minus{
    font-size: 1.3rem;
    padding: 0 10px;
}
.minus{
    padding: 0 12.4px;
}
.sold{
    padding: 5px;
}
#filter, .filterBtns{
    border: none;
    background-color: transparent;
}


.filterBtns{
    font-size: 1.1rem;
    padding: 0 0 3px 15px;
    margin-top: 50px;
    border-bottom: 1px solid $primaryColor;
    width: 300px;
}
.search{
    border: 1px solid $primaryColor;
    margin-top: 40px;
    width: 300px;
    font-size: 1.1rem;
    background-color: transparent;
    padding: 10px 70px 10px 50px;
    background-image:url('/assets/img/icons/magnifying-glass.png');
    background-size: 17px;
    background-position:left;
    background-position-x:20px;
    background-repeat: no-repeat;
    &:focus{
        outline: none;
    }
}
.filters{
    font-size: 1.05rem;
    text-decoration: none;
    line-height: 2rem;
    color: #898582;
    background-color: transparent;
    border: none;
    &:hover{
        color: $primaryColor;
    }
}


.filtersOnClick{
    color: $primaryColor;
}


.instockdnone, .outstockdnone, .charcoaldnone, .creamdnone, .mdnone, .ldnone{
    display: none;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration { display: none; }
