@import './navbar';
@import './footer';
@import './var';

body{
    background-color: $backgroundColor;
    color: $primaryColor;
    font-family: $font;
    overflow-x:hidden;
}
.showcase{
    p{
    font-weight: lighter ;
    margin:0;
    }
}
.item{
    max-width: 440px;
    background-size: cover;
}
.plus, .minus{
    font-size: 1.3rem;
    padding: 0 10px;
}
.minus{
    padding: 0 12.4px;
}
.sold{
    padding: 5px;
    
}
.filterBtns{
    font-size: 1.15rem;
}
