@import './navbar';
@import './footer';
@import './var';

body{
    background-color: $backgroundColor;
    color: $primaryColor;
    font-family: $font;
    overflow-x:hidden;
}
.showcase{
    p{
    font-weight: lighter ;
    margin:0;
    }
    img{
        max-width: 400px;
    }
}