.introImg, .plantsImg, .plantersImg{
    width: 400px;
    @media(max-width:1400px){
        width: 300px;
    }
    @media(max-width:992px){
        width: 200px;
    }
}
.introImg{
    display: inline-block;
}
.plantsLink, .plantersLink, .contactLink{
    font-size: 1.3rem;
    text-decoration: none;
    color: $primaryColor;
    border: 2px solid $primaryColor;
    border-radius: 30px;
    &:hover{
        color: $secondaryColor;
        background-color: $primaryColor;
        transition:400ms ease-in-out;
    }
    @media (max-width:992px){
        font-size: 1rem;
    }
}
.contactLink{
    border-radius: 0;
}




