.menuLg, .cartIcon{
    @media (min-width: 768px) {
        width: 170px;
    }
}
.navbar-toggler, .btn-close{
    border: none;
    &:focus, :active, :focus{
        outline: none;
        box-shadow: none;
    }
}
.navbar-toggler-icon{
    background-image: url('/assets/img/menu.png');
}
.logo{
    width: 80px;
}
.nav-link{
    font-size: 1.2rem;
}

